global:
  scrape_interval: 5s
  evaluation_interval: 5s

rule_files:
  - /etc/prometheus/alerts.yml

scrape_configs:
  - job_name: prometheus
    static_configs:
      - targets: ["prometheus:9090"]

  - job_name: fastapi-app
    metrics_path: /metrics
    static_configs:
      - targets: ["app:8000"]

  - job_name: node-exporter
    static_configs:
      - targets: ["node-exporter:9100"]
